<<template>
  <nav class="navbar navbar-default navbar-fixed-top be-top-header">
        <div class="container-fluid">
          <div class="navbar-header"><router-link to="/" class="navbar-brand"></router-link></div>
          <div class="be-right-navbar">
            <ul class="nav navbar-nav navbar-right be-user-nav">
              <li class="dropdown" id="usr_avatar_menu">
                <a style="cursor:pointer;" id="usr_avatar" data-toggle="dropdown" class="dropdown-toggle"><img src="../../static/assets/img/avatar.png" alt="Avatar"><span class="user-name">Túpac Amaru</span></a>
                <ul role="menu" class="dropdown-menu">
                  <li>
                    <div class="user-info">
                      <div class="user-name">{{sysUsr.name}}</div>
                      <div v-if="online == 'online'" class="user-position online">Available</div>
                      <div v-if="online == 'offline'" class="user-position offline">Un-Available</div>
                    </div>
                  </li>
                  <li><a href="index.html#"><span class="icon mdi mdi-face"></span> Account</a></li>
                  <li><a href="index.html#"><span class="icon mdi mdi-settings"></span> Settings</a></li>
                  <li><router-link to="/" @click.native="logout" ><span class="icon mdi mdi-power"></span>Logout</router-link>
                    </li>
                </ul>
              </li>
            </ul>
            <div class="page-title"><span>PAC Muaster Dashboard</span></div>
            <ul class="nav navbar-nav navbar-right be-icons-nav">
              <li class="dropdown"><a style="cursor:pointer;" id="setting_btn" class="be-toggle-right-sidebar"><span class="icon mdi mdi-settings"></span></a></li>
              <li class="dropdown"><a href="index.html#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"><span class="icon mdi mdi-notifications"></span><span class="indicator"></span></a>
                <ul class="dropdown-menu be-notifications">
                  <li>
                    <div class="title">Notifications<span class="badge">3</span></div>
                    <div class="list">
                      <div class="be-scroller">
                        <div class="content">
                          <ul>
                            <li class="notification notification-unread"><a href="index.html#">
                                <div class="image"><img src="../../static/assets/img/avatar2.png" alt="Avatar"></div>
                                <div class="notification-info">
                                  <div class="text"><span class="user-name">Jessica Caruso</span> accepted your invitation to join the team.</div><span class="date">2 min ago</span>
                                </div></a></li>
                            <li class="notification"><a href="index.html#">
                                <div class="image"><img src="../../static/assets/img/avatar3.png" alt="Avatar"></div>
                                <div class="notification-info">
                                  <div class="text"><span class="user-name">Joel King</span> is now following you</div><span class="date">2 days ago</span>
                                </div></a></li>
                            <li class="notification"><a href="index.html#">
                                <div class="image"><img src="../../static/assets/img/avatar4.png" alt="Avatar"></div>
                                <div class="notification-info">
                                  <div class="text"><span class="user-name">John Doe</span> is watching your main repository</div><span class="date">2 days ago</span>
                                </div></a></li>
                            <li class="notification"><a href="index.html#">
                                <div class="image"><img src="../../static/assets/img/avatar5.png" alt="Avatar"></div>
                                <div class="notification-info"><span class="text"><span class="user-name">Emily Carter</span> is now following you</span><span class="date">5 days ago</span></div></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="footer"> <a href="index.html#">View all notifications</a></div>
                  </li>
                </ul>
              </li>
              <li class="dropdown"><a href="index.html#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"><span class="icon mdi mdi-apps"></span></a>
                <ul class="dropdown-menu be-connections">
                  <li>
                    <div class="list">
                      <div class="content">
                        <div class="row">
                          <div class="col-xs-4"><a href="index.html#" class="connection-item"><img src="../../static/assets/img/github.png" alt="Github"><span>GitHub</span></a></div>
                          <div class="col-xs-4"><a href="index.html#" class="connection-item"><img src="../../static/assets/img/bitbucket.png" alt="Bitbucket"><span>Bitbucket</span></a></div>
                          <div class="col-xs-4"><a href="index.html#" class="connection-item"><img src="../../static/assets/img/slack.png" alt="Slack"><span>Slack</span></a></div>
                        </div>
                        <div class="row">
                          <div class="col-xs-4"><a href="index.html#" class="connection-item"><img src="../../static/assets/img/dribbble.png" alt="Dribbble"><span>Dribbble</span></a></div>
                          <div class="col-xs-4"><a href="index.html#" class="connection-item"><img src="../../static/assets/img/mail_chimp.png" alt="Mail Chimp"><span>Mail Chimp</span></a></div>
                          <div class="col-xs-4"><a href="index.html#" class="connection-item"><img src="../../static/assets/img/dropbox.png" alt="Dropbox"><span>Dropbox</span></a></div>
                        </div>
                      </div>
                    </div>
                    <div class="footer"> <a href="index.html#">More</a></div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</template>

<<script>
var $ = require('jquery')
var dataUsr = JSON.parse(sessionStorage.sysUsr)

export default {
  data:function() {
      return{
        sysUsr:{
          name:''
        },
        online:''
      }
  },
  methods:{
      logout:function() {
                var vm = this;

                firebase.auth().signOut().then(function() {
                    sessionStorage.removeItem('sysUsr')
                    vm.$router.push('/')
                    vm.login_state = false
                }, function(error) {
                    console.log(error)
                })
            },
    },
  mounted:function(){
       $('#usr_avatar').click(function(evt){
           evt.stopPropagation();
          $('#usr_avatar_menu').toggleClass('open')
        })
        $('#setting_btn').click(function(evt){
            $('body').toggleClass('be-animate open-right-sidebar')
        });
        $(document).click( function(event){
            if ( !$(event.target).closest('#usr_avatar_menu').length ) {
                $('#usr_avatar_menu').removeClass('open')
            }
            if ( !$(event.target).closest('#setting_btn').length ) {
                $('body').removeClass('be-animate open-right-sidebar')
            }
        });
  },
  created:function(){
      this.online = dataUsr.login_state
      this.sysUsr.name = dataUsr.name
  }
}
</script>

