<template>
  <div class="be-wrapper be-login">
      <div class="be-content">
        <div class="main-content container-fluid">
          <div class="splash-container">
            <div class="panel panel-default panel-border-color panel-border-color-primary bg-login-page">
              <div class="panel-heading"><img src="../../static/assets/img/pac-muaster-mini.png" alt="logo" width="200" class="logo-img"><span class="splash-description">Please enter your user information.</span></div>
              <div class="panel-body">
                <form @submit.prevent="Signin">
                  <div class="form-group">
                    <input id="email" v-model="currentUser.email" type="text" placeholder="Email" autocomplete="off" class="form-control" style="border-bottom:4px solid #e7277c;box-sizing:border-box;">
                  </div>
                  <div class="form-group">
                    <input id="password" v-model="currentUser.password" type="password" placeholder="Password" class="form-control" style="border-bottom:4px solid #e7277c;box-sizing:border-box;">
                  </div>
                  <!--div class="form-group row login-tools">
                    <div class="col-xs-6 login-remember">
                      <div class="be-checkbox">
                        <input type="checkbox" id="remember">
                        <label for="remember">Remember Me</label>
                      </div>
                    </div>
                    <div class="col-xs-6 login-forgot-password"><a href="pages-login.html#">Forgot Password?</a></div>
                  </div-->
                  <div class="form-group login-submit">
                    <button data-dismiss="modal" type="submit" class="btn btn-primary btn-xl">Sign me in</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="splash-footer"><span>Sign in problems ? <a href="pages-login.html#">Contact our webmaster</a></span></div>
          </div>
        </div>
      </div>
    </div>
</template>
<script>
var $ = require('jquery')


var loginInit = firebase.initializeApp({
    apiKey: "AIzaSyBvAyvoTSHxf9MIE4yuQjskRM2gv1jzIfI",
    authDomain: "pac-muaster.firebaseapp.com",
    databaseURL: "https://pac-muaster.firebaseio.com",
    projectId: "pac-muaster",
    storageBucket: "pac-muaster.appspot.com",
    messagingSenderId: "9243319146"
},"login")
var sysUsrRef = loginInit.database().ref('sys_usr');

var emailRE = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
var currentUser = {
    email:'',
    password:''
};

export default {
  data:function(){
    return {
      currentUser:{
            email:'',
            password:''
            },
    }},
  methods:{
      Signin:function(){
        var vm = this
        var email = vm.currentUser.email.toLowerCase();
        var password = vm.currentUser.password.toLowerCase();

        firebase.auth().signInWithEmailAndPassword(email, password).then(function(user) {
          sysUsrRef.orderByChild("email").equalTo(email).on("child_added", function(snapshot) {
              var usrObj = snapshot.val()
              if(usrObj){
                sysUsrRef.child(snapshot.key).update({login_state:'online'})
                var userData = sessionStorage.setItem('sysUsr', JSON.stringify(usrObj));
                vm.$router.push('/dashboard-home')
              }
              else {
                vm.$router.push('/')
              }
          });
        });
          
      }
  },
  created:function(){
      $('body').addClass('be-splash-screen');
  }

}
</script>

<style scoped>
.bg-login-page{
    background-color:#000;
}
.main-content{
    padding-top: 5px !important;
}
.splash-description{
    color:#eaeaea;
}
</style>
