<template>
  <div class="be-left-sidebar">
        <div class="left-sidebar-wrapper"><a href="index.html#" class="left-sidebar-toggle">Dashboard</a>
          <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll">
              <div class="left-sidebar-content">
                <ul class="sidebar-elements">
                  <li class="divider">Menu</li>
                  <li class="active"><router-link to="/dashboard-home"><i class="icon mdi mdi-home"></i><span>Dashboard</span></router-link>
                  </li>
                  <li class="parent" id="users_mgt_menu"><a style="cursor:pointer;" id="users_mgt"><i class="icon mdi mdi-face"></i><span>Users Management</span></a>
                    <ul class="sub-menu">
                      <li><router-link to="/users">Users</router-link>
                      </li>
                    </ul>
                  </li>
                  <li class="parent" id="gallery_mgt_menu"><a style="cursor:pointer;" id="gallery_mgt"><i class="icon mdi mdi-image-alt"></i><span>Gallery Management</span></a>
                    <ul class="sub-menu">
                      <li><a href="#">Sub menu</a>
                      </li>
                    </ul>
                  </li>
                  <li class="parent" id="expert_mgt_menu"><a style="cursor:pointer;" id="expert_mgt"><i class="icon mdi mdi-accounts-list"></i><span>The Experts</span></a>
                    <ul class="sub-menu">
                      <li><a href="#">Sub menu</a>
                      </li>
                    </ul>
                  </li>
                  <li class="parent" id="points_mgt_menu"><a style="cursor:pointer;" id="points_mgt"><i class="icon mdi mdi-face"></i><span>Points Management</span></a>
                    <ul class="sub-menu">
                      <li><a href="#">Sub menu</a>
                      </li>
                    </ul>
                  </li>
                  <li class="parent" id="sites_mgt_menu"><a style="cursor:pointer;" id="sites_mgt"><i class="icon mdi mdi-settings"></i><span>Settings</span></a>
                    <ul class="sub-menu">
                      <li><a href="#">Sub menu</a>
                      </li>
                    </ul>
                  </li>
                  <!--li class="divider">Features</li-->
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="progress-widget">
            <div class="progress-data"><span class="progress-value">60%</span><span class="name">Current Project</span></div>
            <div class="progress">
              <div style="width: 60%;" class="progress-bar progress-bar-primary"></div>
            </div>
          </div>
        </div>
      </div>
</template>

<<script>
var $ = require('jquery')
export default {
    data:function() {
        return{}
    },
    mounted:function() {
        $('#users_mgt').click(function(event){
          $('#users_mgt_menu').toggleClass('open')
        })
        $('#gallery_mgt').click(function(event){
          $('#gallery_mgt_menu').toggleClass('open')
          event.stopPropagation();
        })
        $('#expert_mgt').click(function(event){
          $('#expert_mgt_menu').toggleClass('open')
          event.stopPropagation();
        })
        $('#points_mgt').click(function(event){
          $('#points_mgt_menu').toggleClass('open')
          event.stopPropagation();
        })
        $('#sites_mgt').click(function(event){
          $('#sites_mgt_menu').toggleClass('open')
          event.stopPropagation();
        })
    }
}
</script>

