<template>
  <div class="be-wrapper be-fixed-sidebar">
      
    <headerbar></headerbar>
    <sidebar></sidebar>
      
      <!-- CONTENT -->

      <div class="be-content">
        <div class="page-head">
          <h2 class="page-head-title">Users Management</h2>
          <ol class="breadcrumb page-head-nav">
            <li><router-link to="/dashboard-home">Home</router-link></li>
            <li class="active">Member PAC MUAster</li>
          </ol>
        </div>


        <div class="main-content container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default panel-table">
                <div class="row table-filters-container">
                 
                 <div class="panel-heading">Member Data
                  <div class="tools">
                    <button type="button" data-toggle="tooltip" data-placement="top" title="" class="btn btn-default btn-space" data-original-title="Tooltip on top">Tooltip on top</button>
                    <span class="icon mdi mdi-download" id="btnExport"></span></div>
                </div>
                 
                </div>
                <div class="panel-body">
                  <div class="table-responsive noSwipe" id="dvData">
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th style="width:5%;">
                            <div class="be-checkbox be-checkbox-sm">
                              <input id="check1" type="checkbox">
                              <label for="check1"></label>
                            </div>
                          </th>
                          <th style="width:20%;">User</th>
                          <th style="width:17%;">Experience</th>
                          <th style="width:10%;">City</th>
                          <th style="width:10%;">Email</th>
                          <th style="width:10%;">Date Registered</th>
                          <th style="width:10%;"></th>
                        </tr>
                      </thead>
                      <tbody v-for="item in MuaData">
                        <tr>
                          <td>
                            <div class="be-checkbox be-checkbox-sm">
                              <input id="check2" type="checkbox">
                              <label for="check2"></label>
                            </div>
                          </td>
                          <td class="user-avatar cell-detail user-info"><img src="../../../static/assets/img/avatar-default.png" alt="Avatar"><span>{{item.first_name |capitalize}} {{item.last_name}}</span><span class="cell-detail-description">{{item.occupation }}</span></td>
                          <td class="cell-detail"> <span>{{item.experience}}</span><!--span class="cell-detail-description">Bootstrap Admin</span--></td>
                          <!--td class="milestone"><span class="completed">8 / 15</span><span class="version">v1.2.0</span>
                            <div class="progress">
                              <div style="width: 45%" class="progress-bar progress-bar-primary"></div>
                            </div>
                          </td-->
                          <td class="cell-detail"><span>{{item.city}}</span><span class="cell-detail-description">{{item.nationality}}</span></td>
                          <td class="cell-detail"><span>{{item.email}}</span></td>
                          <td class="cell-detail"><span>{{item.date_registered |ago}}</span></td>
                          <td class="text-right">
                            <div class="btn-group btn-hspace">
                              <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Open <span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                              <ul role="menu" class="dropdown-menu pull-right">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--div class="main-content container-fluid">
          <h3 class="text-center">Content goes here!</h3>
        </div-->
      </div>

      <!-- END CONTENT -->
      <nav class="be-right-sidebar">
        <div class="sb-content">
          <div class="tab-navigation">
            <ul role="tablist" class="nav nav-tabs nav-justified">
              <li role="presentation" class="active"><a href="index.html#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Chat</a></li>
              <li role="presentation"><a href="index.html#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Todo</a></li>
              <li role="presentation"><a href="index.html#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Settings</a></li>
            </ul>
          </div>
          <div class="tab-panel">
            <div class="tab-content">
              <div id="tab1" role="tabpanel" class="tab-pane tab-chat active">
                <div class="chat-contacts">
                  <div class="chat-sections">
                    <div class="be-scroller">
                      <div class="content">
                        <h2>Recent</h2>
                        <div class="contact-list contact-list-recent">
                          <div class="user"><a href="index.html#"><img src="../../../static/assets/img/avatar1.png" alt="Avatar">
                              <div class="user-data"><span class="status away"></span><span class="name">Claire Sassu</span><span class="message">Can you share the...</span></div></a></div>
                          <div class="user"><a href="index.html#"><img src="../../../static/assets/img/avatar2.png" alt="Avatar">
                              <div class="user-data"><span class="status"></span><span class="name">Maggie jackson</span><span class="message">I confirmed the info.</span></div></a></div>
                          <div class="user"><a href="index.html#"><img src="../../../static/assets/img/avatar3.png" alt="Avatar">
                              <div class="user-data"><span class="status offline"></span><span class="name">Joel King        </span><span class="message">Ready for the meeti...</span></div></a></div>
                        </div>
                        <h2>Contacts</h2>
                        <div class="contact-list">
                          <div class="user"><a href="index.html#"><img src="../../../static/assets/img/avatar4.png" alt="Avatar">
                              <div class="user-data2"><span class="status"></span><span class="name">Mike Bolthort</span></div></a></div>
                          <div class="user"><a href="index.html#"><img src="../../../static/assets/img/avatar5.png" alt="Avatar">
                              <div class="user-data2"><span class="status"></span><span class="name">Maggie jackson</span></div></a></div>
                          <div class="user"><a href="index.html#"><img src="../../../static/assets/img/avatar6.png" alt="Avatar">
                              <div class="user-data2"><span class="status offline"></span><span class="name">Jhon Voltemar</span></div></a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="bottom-input">
                    <input type="text" placeholder="Search..." name="q"><span class="mdi mdi-search"></span>
                  </div>
                </div>
                <div class="chat-window">
                  <div class="title">
                    <div class="user"><img src="../../../static/assets/img/avatar2.png" alt="Avatar">
                      <h2>Maggie jackson</h2><span>Active 1h ago</span>
                    </div><span class="icon return mdi mdi-chevron-left"></span>
                  </div>
                  <div class="chat-messages">
                    <div class="be-scroller">
                      <div class="content">
                        <ul>
                          <li class="friend">
                            <div class="msg">Hello</div>
                          </li>
                          <li class="self">
                            <div class="msg">Hi, how are you?</div>
                          </li>
                          <li class="friend">
                            <div class="msg">Good, I'll need support with my pc</div>
                          </li>
                          <li class="self">
                            <div class="msg">Sure, just tell me what is going on with your computer?</div>
                          </li>
                          <li class="friend">
                            <div class="msg">I don't know it just turns off suddenly</div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="chat-input">
                    <div class="input-wrapper"><span class="photo mdi mdi-camera"></span>
                      <input type="text" placeholder="Message..." name="q" autocomplete="off"><span class="send-msg mdi mdi-mail-send"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tab2" role="tabpanel" class="tab-pane tab-todo">
                <div class="todo-container">
                  <div class="todo-wrapper">
                    <div class="be-scroller">
                      <div class="todo-content"><span class="category-title">Today</span>
                        <ul class="todo-list">
                          <li>
                            <div class="be-checkbox be-checkbox-sm"><span class="delete mdi mdi-delete"></span>
                              <input id="todo1" type="checkbox" checked="">
                              <label for="todo1">Initialize the project</label>
                            </div>
                          </li>
                          <li>
                            <div class="be-checkbox be-checkbox-sm"><span class="delete mdi mdi-delete"></span>
                              <input id="todo2" type="checkbox">
                              <label for="todo2">Create the main structure</label>
                            </div>
                          </li>
                          <li>
                            <div class="be-checkbox be-checkbox-sm"><span class="delete mdi mdi-delete"></span>
                              <input id="todo3" type="checkbox">
                              <label for="todo3">Updates changes to GitHub</label>
                            </div>
                          </li>
                        </ul><span class="category-title">Tomorrow</span>
                        <ul class="todo-list">
                          <li>
                            <div class="be-checkbox be-checkbox-sm"><span class="delete mdi mdi-delete"></span>
                              <input id="todo4" type="checkbox">
                              <label for="todo4">Initialize the project</label>
                            </div>
                          </li>
                          <li>
                            <div class="be-checkbox be-checkbox-sm"><span class="delete mdi mdi-delete"></span>
                              <input id="todo5" type="checkbox">
                              <label for="todo5">Create the main structure</label>
                            </div>
                          </li>
                          <li>
                            <div class="be-checkbox be-checkbox-sm"><span class="delete mdi mdi-delete"></span>
                              <input id="todo6" type="checkbox">
                              <label for="todo6">Updates changes to GitHub</label>
                            </div>
                          </li>
                          <li>
                            <div class="be-checkbox be-checkbox-sm"><span class="delete mdi mdi-delete"></span>
                              <input id="todo7" type="checkbox">
                              <label for="todo7" title="This task is too long to be displayed in a normal space!">This task is too long to be displayed in a normal space!</label>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="bottom-input">
                    <input type="text" placeholder="Create new task..." name="q"><span class="mdi mdi-plus"></span>
                  </div>
                </div>
              </div>
              <div id="tab3" role="tabpanel" class="tab-pane tab-settings">
                <div class="settings-wrapper">
                  <div class="be-scroller"><span class="category-title">General</span>
                    <ul class="settings-list">
                      <li>
                        <div class="switch-button switch-button-sm">
                          <input type="checkbox" checked="" name="st1" id="st1"><span>
                            <label for="st1"></label></span>
                        </div><span class="name">Available</span>
                      </li>
                      <li>
                        <div class="switch-button switch-button-sm">
                          <input type="checkbox" checked="" name="st2" id="st2"><span>
                            <label for="st2"></label></span>
                        </div><span class="name">Enable notifications</span>
                      </li>
                      <li>
                        <div class="switch-button switch-button-sm">
                          <input type="checkbox" checked="" name="st3" id="st3"><span>
                            <label for="st3"></label></span>
                        </div><span class="name">Login with Facebook</span>
                      </li>
                    </ul><span class="category-title">Notifications</span>
                    <ul class="settings-list">
                      <li>
                        <div class="switch-button switch-button-sm">
                          <input type="checkbox" name="st4" id="st4"><span>
                            <label for="st4"></label></span>
                        </div><span class="name">Email notifications</span>
                      </li>
                      <li>
                        <div class="switch-button switch-button-sm">
                          <input type="checkbox" checked="" name="st5" id="st5"><span>
                            <label for="st5"></label></span>
                        </div><span class="name">Project updates</span>
                      </li>
                      <li>
                        <div class="switch-button switch-button-sm">
                          <input type="checkbox" checked="" name="st6" id="st6"><span>
                            <label for="st6"></label></span>
                        </div><span class="name">New comments</span>
                      </li>
                      <li>
                        <div class="switch-button switch-button-sm">
                          <input type="checkbox" name="st7" id="st7"><span>
                            <label for="st7"></label></span>
                        </div><span class="name">Chat messages</span>
                      </li>
                    </ul><span class="category-title">Workflow</span>
                    <ul class="settings-list">
                      <li>
                        <div class="switch-button switch-button-sm">
                          <input type="checkbox" name="st8" id="st8"><span>
                            <label for="st8"></label></span>
                        </div><span class="name">Deploy on commit</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
</template>
<script>
var $ = require('jquery')

if(sessionStorage.sysUsr != undefined)
{
    var dataUsr = JSON.parse(sessionStorage.sysUsr)
}


var usersInit = firebase.initializeApp({
    apiKey: "AIzaSyBvAyvoTSHxf9MIE4yuQjskRM2gv1jzIfI",
    authDomain: "pac-muaster.firebaseapp.com",
    databaseURL: "https://pac-muaster.firebaseio.com",
    projectId: "pac-muaster",
    storageBucket: "pac-muaster.appspot.com",
    messagingSenderId: "9243319146"
},"UsrMgt")
var UsrRef = usersInit.database().ref('users');

export default {
    data:function(){
      return{
        sysUsr:{
          name:''
        },
        online:'',
        MuaData:''
      }
    },
    filters: {
        ago: function(date) {
            if(date != undefined){
                var newDate = date.split(' '), dateFormatted = newDate[1]+' '+newDate[3]
                return dateFormatted
            }
            else {
                return date
            }
        },
        capitalize: function(value) {
            return value.charAt(0).toUpperCase() + value.slice(1);
        },
        none: function(value) {
            if (value) return value;
            else return 'No Occupation'
        }
    },
    methods:{
      logout:function() {
                var vm = this;
                firebase.auth().signOut().then(function() {
                    sessionStorage.removeItem('sysUsr')
                    vm.$router.push('/')
                    vm.login_state = false
                }, function(error) {
                    console.log(error)
                })
            },
    },
    mounted:function(){
        var vm = this
        // UsrRef.orderByChild("first_name").once("value").then(function(snapshot) {
        //     vm.MuaData = snapshot.val()
        // });
        vm.MuaData = {}
        $('#btnExport').click(function (e) {
          window.open('data:application/vnd.ms-excel,' + $('#dvData').html());
          e.preventDefault();
      });
    },
    created:function(){
        var vm = this
        
        $('#usr_avatar').click(function(evt){
          $('#usr_avatar_menu').toggleClass('open')
          event.stopPropagation();
        })
      
      vm.online = dataUsr.login_state
      vm.sysUsr.name = dataUsr.name
      $('body').removeClass('be-splash-screen');
  }
}
</script>

<style scoped>

.page-title{
    color:#fff;
}
</style>
